{% extends "base.html" %}
{% block title %}post_detail.html{% endblock %}

{% block extra-style %}
<style>
.post-body{
    width: 80%;
    margin: auto;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 16px;
}
</style>
{% endblock extra-style %}

{% block content %}
<div class="post-body" align="left">

    <h2>{{ object.title }}</h2>

    <p>
        {% if object.get_previous %}
        <a href="{{ object.get_previous.get_absolute_url }}" title="View previous post">
            <i class="fas fa-arrow-circle-left"></i> {{ object.get_previous }}
        </a>
        {% endif %}

        {% if object.get_next %}
        | <a href="{{ object.get_next.get_absolute_url }}" title="View next post">
        {{ object.get_next }} <i class="fas fa-arrow-circle-right"></i>
        </a>
        {% endif %}
    </p>

    <h3>{{ object.description }}</h3>
    <br><br>
    <p>{{ object.modify_dt|date:"j F Y" }}</p>
    <br>
    <br>
 <!-- List of comments -->
    {% if comments %}
    <div class="row mt-5">
        <div>
            Comment{{ comments.count|pluralize }}
            <span class="badge badge-dark ml-2">{{ comments.count }}</span>
        </div>
        {% for comment in comments %}
        <div>
            <div class="card p-2">
                <div class="row">
                    <div class="col-12">
                        <strong style="color:brown">{{ comment.name.username }}</strong>
                    </div>
                    <div class="col-12">
                        <p class="m-1 mt-3">{{ comment.content }}</p>
                        <p class="text-right text-muted"><small>{{ comment.created }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Form to leave comment -->
    {% if user.is_active %}
    <div class="row mt-5">
        <div>
             <h3>Leave a comment</h3>
            <form method='POST'>
            {% csrf_token %}
            <div class="form-group">
                <span class="ml-2"></span>{{ form.content.label_tag }}
                <textarea class="form-control {% if form.content.errors %}is-invalid{% endif %}" id="id_content" name="content" rows="4">{{ form.content.value|default:'' }}</textarea>
            </div>
            <button class="btn btn-primary ml-2" type="submit">Reply</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
