{% extends "base.html" %}

{% load static %}

{% block title %}home.html{% endblock %}

{% block extra-style %}
<style type="text/css">
  .home-image{
    background-image: url("{% static 'img/lion.jpeg' %}");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 500px;
    border-top: 10px solid #ccc;
    border-bottom: 10px solid #ccc;
    padding: 20px 0 0 20px;
  }
  .title {
    color: #c80;
    font-weight: bold;
  }
  .powered {
    position: relative;
    top: 77%;
    color: #cc0;
    font-style: italic;
  }

  *[data-animation="ripple"] {
    height: 100%;
    width: 100%;
    display: block;
    outline: none;
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(135deg, #e570e7 0%,#79f1fc 100%);
    box-sizing: border-box;
    text-align: center;
    line-height: 14px;
    font-family: roboto, helvetica;
    font-weight: 200;
    letter-spacing: 1px;
    text-decoration: none;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    /*border-radius: 50px;*/
    -webkit-tap-highlight-color: transparent;
    border-radius: 5px;
  }

  *[data-animation="ripple"]:focus {
    outline: none;
  }

  *[data-animation="ripple"]::selection {
    background: transparent;
    pointer-events: none;
  }

  .box1 {
    width: 100%;
    text-align: center;
  }
  .box2 {
    display: inline-block;
  }
</style>

{% endblock %}

{% block extra-script %}
    <script>
        window["tmripple"] =
        /******/ (function(modules) { // webpackBootstrap
        /******/  // The module cache
        /******/  var installedModules = {};
        /******/
        /******/  // The require function
        /******/  function __webpack_require__(moduleId) {
        /******/
        /******/    // Check if module is in cache
        /******/    if(installedModules[moduleId]) {
        /******/      return installedModules[moduleId].exports;
        /******/    }
        /******/    // Create a new module (and put it into the cache)
        /******/    var module = installedModules[moduleId] = {
        /******/      i: moduleId,
        /******/      l: false,
        /******/      exports: {}
        /******/    };
        /******/
        /******/    // Execute the module function
        /******/    modules[moduleId].call(module.exports, module, module.exports, __webpack_require__);
        /******/
        /******/    // Flag the module as loaded
        /******/    module.l = true;
        /******/
        /******/    // Return the exports of the module
        /******/    return module.exports;
        /******/  }
        /******/
        /******/
        /******/  // expose the modules object (__webpack_modules__)
        /******/  __webpack_require__.m = modules;
        /******/
        /******/  // expose the module cache
        /******/  __webpack_require__.c = installedModules;
        /******/
        /******/  // define getter function for harmony exports
        /******/  __webpack_require__.d = function(exports, name, getter) {
        /******/    if(!__webpack_require__.o(exports, name)) {
        /******/      Object.defineProperty(exports, name, {
        /******/        configurable: false,
        /******/        enumerable: true,
        /******/        get: getter
        /******/      });
        /******/    }
        /******/  };
        /******/
        /******/  // getDefaultExport function for compatibility with non-harmony modules
        /******/  __webpack_require__.n = function(module) {
        /******/    var getter = module && module.__esModule ?
        /******/      function getDefault() { return module['default']; } :
        /******/      function getModuleExports() { return module; };
        /******/    __webpack_require__.d(getter, 'a', getter);
        /******/    return getter;
        /******/  };
        /******/
        /******/  // Object.prototype.hasOwnProperty.call
        /******/  __webpack_require__.o = function(object, property) { return Object.prototype.hasOwnProperty.call(object, property); };
        /******/
        /******/  // __webpack_public_path__
        /******/  __webpack_require__.p = "";
        /******/
        /******/  // Load entry module and return exports
        /******/  return __webpack_require__(__webpack_require__.s = 0);
        /******/ })
        /************************************************************************/
        /******/ ([
        /* 0 */
        /***/ (function(module, exports, __webpack_require__) {

        "use strict";


        // Default Settings
        var settings = {
            area: "",
            color: "rgba(255, 255, 255, 0.4)",
            offsetEl: null,
            eventListener: "click",
            mouseMove: false
        };

        /**
         * @description Where the magic happens
         * @param {object} e
         * @param {string} rippleColor
         * @param {string} eventListener
         */
        function ripple(e, rippleColor, eventListener) {
            var clickedEl = e.currentTarget;
            var PageX = eventListener.match(/touch/) ? e.changedTouches[0].pageX : e.clientX;
            var PageY = eventListener.match(/touch/) ? e.changedTouches[0].pageY : e.clientY;
            var btnWidth = clickedEl.clientWidth;
            var el = clickedEl.getBoundingClientRect();
            var rippleOffset = settings.offsetEl ? settings.offsetEl.clientHeight : 0;
            var btnOffsetTop = el.top + rippleOffset;
            var btnOffsetLeft = el.left;
            var posMouseX = PageX;
            var posMouseY = PageY + rippleOffset;
            var rippleX = posMouseX - btnOffsetLeft;
            var rippleY = posMouseY - btnOffsetTop;

            var baseCSS = "\n          position: absolute;\n          width: " + btnWidth * 2 + "px;\n          height: " + btnWidth * 2 + "px;\n          border-radius: 50%;\n          transition: transform 700ms, opacity 700ms;\n          transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);\n          background: " + rippleColor + ";\n          background-position: center;\n          background-repeat: no-repeat;\n          background-size: 100%;\n          left: " + (rippleX - btnWidth) + "px;\n          top: " + (rippleY - btnWidth) + "px;\n          transform: scale(0);\n          pointer-events: none;\n      ";

            // Prepare the dom
            var rippleEffect = document.createElement("span");
            rippleEffect.style.cssText = baseCSS;

            // Add some css for prevent overflow errors
            clickedEl.style.overflow = "hidden";

            // Check if the element is not static because the ripple is in absolute
            if (window.getComputedStyle(clickedEl).position === "static") {
                clickedEl.style.position = "relative";
            }

            // Check for the mousemove event
            if (settings.mouseMove) {
                settings.mouseMove = false;
                return;
            }

            clickedEl.appendChild(rippleEffect);

            // start animation
            requestAnimationFrame(function () {
                rippleEffect.style.cssText = baseCSS + " transform: scale(1); opacity: 0;";
            });

            setTimeout(function () {
                rippleEffect.remove();
            }, 700);
        }

        /**
         * @description Prevent ripple when scrolling (Mobile Only)
         * @param {string} eventListener
         */
        function onDrag(eventListener) {
            if (eventListener === "touchend") {
                document.getElementsByTagName("body")[0].addEventListener("touchmove", function () {
                    settings.mouseMove = true;
                });
            }
        }

        function attachRipple(els, rippleColor, eventListener) {
            for (var i = 0; i < els.length; i += 1) {
                var currentBtn = els[i];
                currentBtn.addEventListener(eventListener, function (e) {
                    return ripple(e, rippleColor, eventListener);
                });
            }
        }

        function attachRippleToAttribute(area, rippleColor, eventListener) {
            var attributeEl = document.querySelectorAll(area + " [data-animation='ripple']");

            if (attributeEl.length > 0) {
                attachRipple(attributeEl, rippleColor, eventListener);
            } else {
                throw new Error('not found any element with data-animation="ripple"');
            }
        }

        function attachRippleToSelectors(selectors, rippleColor, eventListener) {
            if (selectors) {
                var selectorsEl = document.querySelectorAll(selectors);
            } else {
                throw new Error("You have to enter at least 1 selector");
            }

            if (selectorsEl.length > 0) {
                attachRipple(selectorsEl, rippleColor, eventListener);
            } else {
                console.warn("No element found with this selector: ", selectors);
            }
        }

        module.exports = {
            init: function init() {
                var data = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : {};

                try {
                    var area = settings.area,
                        color = settings.color,
                        offsetEl = settings.offsetEl,
                        eventListener = settings.eventListener;


                    area = data.area || area;
                    color = data.color || color;
                    offsetEl = data.offsetEl ? this.setOffsetEl(data.offsetEl) : offsetEl;
                    eventListener = data.eventListener || eventListener;

                    onDrag(eventListener);
                    attachRippleToAttribute(area, color, eventListener);
                } catch (e) {
                    console.warn(e.message);
                }
            },
            attachToSelectors: function attachToSelectors() {
                var data = arguments.length > 0 && arguments[0] !== undefined ? arguments[0] : {};

                try {
                    var elSetting = {
                        color: data.color || settings.color,
                        eventListener: data.eventListener || settings.eventListener
                    };
                    var color = elSetting.color,
                        eventListener = elSetting.eventListener;


                    attachRippleToSelectors(data.selectors, color, eventListener);
                } catch (e) {
                    console.warn(e.message);
                }
            },
            setOffsetEl: function setOffsetEl(el) {
                settings.offsetEl = document.querySelector(el);
            },

            ripple: ripple
        };

        /***/ })
        /******/ ]);

        tmripple.init()
    </script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<!--    <script>-->
<!--        $("#thediv").click(function(e) {-->
<!--            var divWidth = $("#thediv").width();-->
<!--            var clickX = e.clientX;-->
<!--            var bodyColor = document.getElementById("thediv");-->
<!--            if (clickX > divWidth/2) {-->
<!--                bodyColor.style.backgroundColor = "#999999";-->
<!--            } else {-->
<!--                bodyColor.style.backgroundColor = "#FFFFFF";-->
<!--            }-->
<!--        });-->
<!--    </script>-->
    <script>
        var hidden = false;
        function action() {
            hidden = !hidden;
            if(hidden) {
                document.getElementById('button2').style.visibility = 'hidden';
                document.getElementById('button3').style.visibility = 'hidden';
            } else {
                document.getElementById('button2').style.visibility = 'visible';
                document.getElementById('button3').style.visibility = 'visible';
            }
        }
        var off = false;
        var bodyColor = document.getElementById("thediv");
        function change() {
            off = !off
            if(off) {
                bodyColor.style.backgroundColor = "#999999";
            } else {
                bodyColor.style.backgroundColor = "#FFFFFF";
            }
        }
        var img1 = false;
        function img() {
            img1 = !img1
            if(img1) {
                document.getElementById("img").style.backgroundImage = "url('{% static 'img/ball.jpg' %}')";
            } else {
                document.getElementById("img").style.backgroundImage = "url('{% static 'img/lion.jpeg' %}')";
            }
        }
    </script>
    <script type="text/javascript">
        (function fairyDustCursor() {

              var possibleColors = ["#D61C59", "#E7D84B", "#1B8798"]
              var width = window.innerWidth;
              var height = window.innerHeight;
              var cursor = {x: width/2, y: width/2};
              var particles = [];

              function init() {
                bindEvents();
                loop();
              }

              // Bind events that are needed
              function bindEvents() {
                document.addEventListener('mousemove', onMouseMove);
                document.addEventListener('touchmove', onTouchMove);
                document.addEventListener('touchstart', onTouchMove);

                window.addEventListener('resize', onWindowResize);
              }

              function onWindowResize(e) {
                width = window.innerWidth;
                height = window.innerHeight;
              }

              function onTouchMove(e) {
                if( e.touches.length > 0 ) {
                  for( var i = 0; i < e.touches.length; i++ ) {
                    addParticle( e.touches[i].clientX, e.touches[i].clientY, possibleColors[Math.floor(Math.random()*possibleColors.length)]);
                  }
                }
              }

              function onMouseMove(e) {
                cursor.x = e.clientX;
                cursor.y = e.clientY;

                addParticle( cursor.x, cursor.y, possibleColors[Math.floor(Math.random()*possibleColors.length)]);
              }

              function addParticle(x, y, color) {
                var particle = new Particle();
                particle.init(x, y, color);
                particles.push(particle);
              }

              function updateParticles() {

                // Updated
                for( var i = 0; i < particles.length; i++ ) {
                  particles[i].update();
                }

                // Remove dead particles
                for( var i = particles.length -1; i >= 0; i-- ) {
                  if( particles[i].lifeSpan < 0 ) {
                    particles[i].die();
                    particles.splice(i, 1);
                  }
                }

              }

              function loop() {
                requestAnimationFrame(loop);
                updateParticles();
              }

              /**
               * Particles
               */

              function Particle() {

                this.character = "*";
                this.lifeSpan = 120; //ms
                this.initialStyles ={
                  "position": "absolute",
                  "display": "block",
                  "pointerEvents": "none",
                  "z-index": "10000000",
                  "fontSize": "16px",
                  "will-change": "transform"
                };

                // Init, and set properties
                this.init = function(x, y, color) {

                  this.velocity = {
                    x:  (Math.random() < 0.5 ? -1 : 1) * (Math.random() / 2),
                    y: 1
                  };

                  this.position = {x: x - 10, y: y - 20};
                  this.initialStyles.color = color;

                  this.element = document.createElement('span');
                  this.element.innerHTML = this.character;
                  applyProperties(this.element, this.initialStyles);
                  this.update();

                  document.querySelector('.navbar-brand').appendChild(this.element);
                };

                this.update = function() {
                  this.position.x += this.velocity.x;
                  this.position.y += this.velocity.y;
                  this.lifeSpan--;

                  this.element.style.transform = "translate3d(" + this.position.x + "px," + this.position.y + "px, 0) scale(" + (this.lifeSpan / 120) + ")";
                }

                this.die = function() {
                  this.element.parentNode.removeChild(this.element);
                }

              }

              /**
               * Utils
               */

              // Applies css `properties` to an element.
              function applyProperties( target, properties ) {
                for( var key in properties ) {
                  target.style[ key ] = properties[ key ];
                }
              }

              init();
            })();
    </script>
{% endblock %}

{% block content %}
    <div id="img" class="home-image">
        <h2 class="title">Home</h2>
    </div>

    <hr style="margin: 10px 0;">
    <div class="box1" style="height:60px;">
        <div class="box2" style="width:20%;">
            <a type="button" id="button1" data-animation="ripple" style="overflow: hidden; position: relative;" onClick="action();">1</a>
        </div>
        <div class="box2" style="width:20%;">
            <a type="button" id="button2" data-animation="ripple" style="overflow: hidden; position: relative;" onClick="change();">2</a>
        </div>
        <div class="box2" style="width:20%;">
            <a type="button" id="button3" data-animation="ripple" style="overflow: hidden; position: relative;" onclick="img();">3</a>
        </div>
    </div>

<!--지연-->
<!--    href="javascript:setTimeout(()=>{window.location = 'instant2' },500);"-->

    <br>
    <hr style="margin: 10px 0;">

    <div class="row text-center">
        <div class="col-sm-6">
            <h3>Board function</h3>
            <p>You can write posts.</p>
        </div>
        <div class="col-sm-6">
            <h3>Profile function</h3>
            <p>You can make your own profile.</p>
        </div>
    </div>
    <hr style="margin: 10px 0;">


{% endblock content %}
